.room
  margin-bottom: 120px

  +small
    margin-bottom: 80px

  &__title
    margin-bottom: 20px

    +phone
      margin-bottom: 5px

.top-content
  width: 100%
  display: inline-flex
  margin-bottom: 25px

  +small
    flex-wrap: wrap

  .room-slider
    position: relative
    display: flex
    flex-direction: column
    width: 40%
    margin-right: 60px

    +medium
      margin-right: 40px

    +small
      width: 100%
      margin-right: 0
      margin-bottom: 20px

    &__top
      position: relative
      margin: 0 -4px
      padding-bottom: 20px
      height: 100%
      overflow: hidden

      +phone
        padding: 0

    .arrow-wrapper
      position: absolute
      right: 0
      top: 37%
      bottom: 55%
      z-index: 100
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
      max-width: 100%

      +phone
        top: 50%
        bottom: 50%

      .svg-reset
        &:hover
          stroke: $color__1

      .arrow
        padding: 5px
        background-color: rgba($color__4, .5)
        transition: background-color  .2s linear
        
        &:hover
          background-color: rgba($color__4, 1) 
          .svg-reset
              stroke: $color__1

      &__left
        margin-right: 20px

    .slick-list
      height: 100%

    .slick-track
      height: 100%

    &__slide-link
      height: 100%
      max-height: 450px

      +phone
        max-height: 34vh

    &__img
      width: 100%
      height: 100%
      object-fit: cover

      +phone
        min-height: 300px

    &__bottom
      margin: 0 -10px

      +phone
        display: none

    &__slide-item
      display: inline-block
      padding: 0 10px

    &__img-bottom
      cursor: pointer
      min-height: 110px
      max-height: 110px
      width: 100%
      object-fit: cover
      height: 100%

    &__descr
      width: 60%

      +medium
        width: 100%
        
      +phone
        margin-top: 0

    &__list
      margin-bottom: 49px

    &__item
      &:not(:last-child)
        margin-bottom: 25px

    &__title
      @include textReset
      margin-bottom: 5px
      font-weight: 700
      font-size: 18px
      line-height: 1.2
      color: $color__5
      text-transform: uppercase

  &__text
    p
      @include textReset
      &:not(:last-child)
        margin-bottom: 15px

  &__btn
    padding: 25px 40px
    font-size: 16px
