.header-top
  +small
    padding: 18px 0

.header-bottom
  +small
    margin-bottom: 0

.contact
  margin-top: 40px
  margin-bottom: 120px
  color: $color__2


  .header_1
    margin-bottom: 40px

  .row
    display: flex

  .col-left
    width: 40%
    padding-right: 40px

  .item
    margin-bottom: 16px

    a
      &:hover
        text-decoration: underline

    br
      display: none

  .col-right
    width: 60%


  +small
    margin-bottom: 80px

    .row
      flex-wrap: wrap

    .col-left
      width: 100%
      padding-right: 0px
      margin-bottom: 20px

    .col-right
      width: 100%
